// Front-page styling
.hero {
    padding: 150px 0;
    background: $light-gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .icon-bar {
        background: $dark-gray;
    }

    .nav > li > a {
        color: $dark-gray;
    }

    .nav > li {
        > a:hover,
        > a:focus {
            background: $light-gray;
            color: $black;
        }
    }

    > .nav-header-container {
        margin-top: -150px;
        background: $white;
    }

    .header-main {
        padding: 15px 0 15px 120px;
    }

    > .video-frame-container {
        margin-top: 194px;
        margin-bottom: 42px;
    }


    @media screen and (min-width: $screen-sm) {   
        padding: 20px 0;

        .nav > li > a {
            color: $white;
        }

        > .nav-header-container {
            margin-top: 0;
            background: transparent;
        }
    }

    @media screen and (min-width: $screen-md) {
        padding: 25px 0;
    }

    @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
        padding: 45px 0;
    }

    @media screen and (min-width: $screen-lg) {
        padding: 95px 0;
    }

    .front-page-heading {
        font-weight: bold;
        line-height: 45px;
        font-size: 27px;
        letter-spacing: 5px;
        color: $yellow;
    }
}

.home .subheading {
    background: $yellow;
    padding: 85px 0;

    .front-page-subheading {
        font-family: $headings-font-family;
        line-height: 50px;
        font-size: 32px;
        letter-spacing: 1px;
        color: $dark-gray;
    }
}

.home .container-main h2 {
    font-size: 33px;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0 0 75px;
}
