// Front-page styling

.hero {
    padding: 20px 0;
    background: $light-gray;
    background-size: cover;
    background-position: center center;

    @media screen and (min-width: $screen-sm) {
        padding: 95px 0;
    }

    .icon-bar {
        background: $black;
    }

    .nav > li > a {
        color: $white;
    }

    .nav > li {
        > a:hover,
        > a:focus {
            background: $gray;
            color: $black;
        }
    }
}