#mc_embed_signup {
    margin-top: 28px;
}

#mce-EMAIL {
    border: 3px solid $dark-gray;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    width: 100%;
    margin: 0 0 30px;
}

#mc-embedded-subscribe {
    border: 3px solid $yellow;
    background: $white;
    color: $yellow;
    text-transform: uppercase;
    display: block;
    padding: 3px 15px;
    text-align: center;
    width: 100%;
    margin: 0 0 30px;
    font-weight: bold;
}
