// Page-specific overrides
.what-can-go-wrong h2,
.play-your-game h2 {
    margin-top: 100px;
    font-size: 36px;
}

.what-can-go-wrong h2 {
    margin-bottom: 100px;
}

.what-can-go-wrong h3 {
    margin: 100px 0 30px;
}
