// Layout provided used non-standard 1284px width
// adjusting container-lg and screen-lg as needed
$container-lg: 1314px;
$screen-lg: 1350px;

// Define colors here
$black: #000;
$white: #FFF;
$light-gray: #EEE;
$gray: #CDCED0;
$dark-gray: #2F3B48;