// Layout provided used non-standard 1284px width
// adjusting container-lg and screen-lg as needed
$container-lg: 1314px;
$screen-lg:    1350px;

// Define colors here
$black:        #000;
$white:        #FFF;
$light-gray:   #CDCED0;
$gray:         #817E7D;
$dark-gray:    #2F3B48;
$yellow:       #FDD304;
$light-yellow: #FEDC5E;

// Define fonts here
$font-family-sans-serif: Nexa Light, sans-serif;
$headings-font-family:   Nexa Bold, sans-serif;

$font-size-base: 16px;