@media screen {    
    .video-container {
        margin: 0 auto;
        position: relative;
        padding: 10px;
        background: $yellow;

        > .embed-responsive {
            position: relative;
            z-index: 1;
        }

        > .thumbnail-container {
            position: absolute;
            background-position: center center;
            background-size: cover;
            cursor: pointer;
            z-index: 6;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }

        &.playing > .thumbnail-container {
            z-index: 0;
        }

        > .play {
            position: absolute;
            width: 106px;
            height: 68px;
            top: 50%;
            left: 0;
            right: 0;
            margin: -34px auto 0;
            z-index: 11;
            background: $yellow;
            cursor: pointer;
            opacity: 0;
            > .triangle {
                display: block;
                position: absolute;
                top: 50%;
                width: 0;
                height: 0;
                left: 0;
                right: 0;
                margin: -15px auto 0;
                border-style: solid;
                border-width: 15px 0 15px 22px;
                border-color: transparent transparent transparent $white;
            }
            transition: opacity .5s;
        }

        &:hover > .play {
            opacity: 1;
        }

        &.playing:hover > .play {
            opacity: 0;
        }
    }
}
